<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <!-- <setting name="defaultFetchSize" value="1000"/> -->
        <!-- <setting name="callSettersOnNulls" value="true"/> -->
        <setting name="jdbcTypeForNull" value="NULL" />
        <!--<setting name="jdbcTypeForNull" value="VARCHAR"/>-->
    </settings>
    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer"/>
        <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap"/>
        <typeAlias alias="HashMap" type="java.util.HashMap"/>
    </typeAliases>
</configuration>