<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<th:block layout:fragment="title">
    <title>메인 페이지</title>
</th:block>

<th:block layout:fragment="body-content">
    <ul class="mx-auto">
        <li><a href="/article/list">리스트로 이동</a></li>
        <li><a href="/article/write">글쓰기</a></li>
        <li><a href="/member/join">회원가입</a></li>
        <li><a href="/member/login">로그인</a></li>
    </ul>
</th:block>

</html>
